<h1><%= @physician.name %>'s Appointments</h1>

<table class='table'>
  <thead>
    <tr>
      <td>Date</td>
      <td>Time</td>
      <td>Patient</td>
    </tr>
  </thead>
  <tbody>
    <% @physician.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date %></td>
        <td><%= appointment.time %></td>
        <td><%= link_to Patient.find(appointment.patient_id).name, patient_path(Patient.find(appointment.patient_id)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
