<h1><%= @physician.name %></h1>

<h2>Specialty: <%= @physician.specialty %></h2>

<%= link_to 'Back', physicians_path %>
<%= link_to 'View Appointments', physician_appointments_path(@physician), class: 'btn btn-primary' %>
